/* General Styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    box-sizing: border-box; /* Uniforma el modelo de caja */
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: #1C1C1C;
}

*,
*::before,
*::after {
    box-sizing: inherit; /* Consistencia en el modelo de caja */
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Navbar Styles */
nav {
    background-color: #0056B3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav .footer-logo img {
    /*max-width: 100px;
    height: auto;*/
    height: 50px;
    width: auto;
}


nav .menu {
    display: flex;
    gap: 15px;
}
nav .menu a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
nav .menu a:hover {
    background-color: #FFD700;
    color: #1C1C1C;
    border-radius: 5px;
}
nav .hamburger {
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Responsive Menu */
nav .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #0056B3;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #F4F4F4;
    background: url('img/0.1_ImgHero.webp') no-repeat center center/cover;
}

.hero h1 {
    color: #0056B3;
    font-size: 2.5em;
}
.hero p {
    font-size: 1.1em;
}

/* Buttons */
.button {
    background-color: #FFD700;
    color: #1C1C1C;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056B3;
    color: #FFFFFF;
}
.whatsapp-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.whatsapp-btn:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}

/* Botón flotante de Instagram */
.instagram-btn {
    position: fixed;
    bottom: 210px; /* Posición encima del segundo botón */
    right: 20px;
    background-color: #C13584; /* Color oficial de Instagram */
    color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.instagram-btn:hover {
    background-color: #E1306C; /* Color más oscuro para hover */
    transform: scale(1.1);
}

/* Secciones */

section:nth-child(even) {
    background-color: #F4F4F4; /* Alterna gris claro */

}
h2 {
    color: #0056B3; /* Azul principal */
    text-align: center;
}
p {
    text-align: center;
    font-size: 18px;
}

/* Centrar Botones */
.center-button {
    text-align: center;
    margin: 20px 0;
}

/* Footer Styles */
footer {
    background-color: #0D47A1; /* Azul principal de la empresa */
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    flex-wrap: wrap; /* Permitir que los elementos salten de línea en pantallas pequeñas */
}

.footer-logo img {
    height: 50px;
    width: auto;
}

.footer-icon {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #ff4500;
}

.footer-icon i {
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav .hamburger {
        display: block;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    
    .hero h1 {
        font-size: 2em;
    }
    .hero p {
        font-size: 1em;
    }
}
